header#header
	.container
		.logo: a(href="index.html")
			img(src="images/logo.png" alt="LOGO" width="100" height="20")
		nav#nav.main-navigation(role='navigation', aria-label='Primary Menu')
			a(href="#").nav-opener: span Open
			.nav-drop
				ul
					li(class={active: curentClass === 'home'}): a(href="index.html") Home
					li(class={active: curentClass === 'page_a'}): a(href="page_a.html") Page A
					li(class={active: curentClass === 'page_b'}): a(href="page_b.html") Page B
