- var curentClass = 'home';
include pug/common/_head
	block content
		include pug/common/_header
		main#main(role="main")
			.container
				h1 Home page
				h2 Home page
				h3 Home page
				h4 Home page
				h5 Home page
		include pug/common/_footer
