- var curentClass = 'page_b';
include pug/common/_head
	block content
		include pug/common/_header
		main#main(role="main")
			.container
				h1 Page B
				h2 Page B
				h3 Page B
				h4 Page B
				h5 Page B
		include pug/common/_footer