- var curentClass = 'page_a';
include pug/common/_head
	block content
		include pug/common/_header
		main#main(role="main")
			.container
				h1 Page A
				h2 Page A
				h3 Page A
				h4 Page A
				h5 Page A
		include pug/common/_footer